@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    justify-content:center;
    align-items: center;

}
header{
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 16px;
    z-index: 100000;
}
header .sticky{
    padding: 5px 100px;
    background:black;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    text-transform: uppercase;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color:black;
    letter-spacing: 2px;
    
    transition: 0.6s;
}
.banner{
    position: absolute;
    width: 100%;
    height: 100vh;
}



.container{
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:30px;
}
.container .card{
    background: linear-gradient(#FFA17F,#00223E);
    position:relative;
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 1s ease-in-out;
}
.container .card:hover{

    background: linear-gradient(#FFA17F,#00223E);
    height : 420px;
}


.container .card .StudyCover{
    background:linear-gradient(to bottom right,

    black 40%,
    yellow 20%,
    yellow 25%,
    black 40%);
    position: absolute;
    width: 260px;
    height: 200px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px ;
}
.container .card .StudyCover img{
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content{
    position: relative;
    margin-top:-140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 1;
    transition : 0.5s ease-in-out;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -130px;
    transition-delay: 1s;
}
h1,h2,h3,h4{
    color: whitesmoke;
}
.title h2{
    color: black;
}
p{
    color: whitesmoke;
}

button{
    position: absolute;
    
    left:50%;
    transform: translate(-50%,-50%);

}
button{
    background: none;
    color: #ccc;
    width: 120px;
    height: 40px;
    border: 1px solid #338033;
    font-size: 14px;
    border-radius: 4px;
    transition: .6s ease-in-out;
    overflow: hidden;
}

button:focus{
    outline: none;
}
button:befor{
    content:'';
    display: block;;
    position: absolute;
    background:rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform:translateX(-130px) skewX(-15deg);

}

button::after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

button:hover{
    background: #338033;
    cursor: pointer;
}
button:hover::before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition:.1s;
}